*{
  border-radius: 4px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('assets/HdfWuc5.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.nevjegykartya{
  background-color:hsla(0, 0%, 100%, .1);
  width: 460px;
  max-width: calc(100vw - 10px);
  border-radius: 3px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
.motto{
  margin: 1%;
  padding: 1%;
  background-color:rgba(00,00,205,.5);
  text-align: center;
  color:#b72;
}
.leir {
  float: left;
  width: 46%;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
.leir1, .leir2, .leir3{
  width: 99%;
}
.leir1 {
  background-color:rgba(34,238,238,.4);
  margin-left: -2%;
}
.leir2 {
  background-color:rgba(34,238,238,.6);
}
.leir3{
  background-color:rgba(85,255,34,.5);
  text-align: justify;
}
#face{
  text-decoration:line-through;
}
img {
  width: 100%;
  display: block;
  transition: .3s;
  transition-delay: .3s;
}
img:hover {
  transform: rotate(360deg);
  width:212%;
  border-radius: 50%;
}