/*Nem éppen szép megoldás, de nagyrészt mûködik és legnagyobb rész sajátkútfõ. MA*/
* {
  box-sizing: border-box;
}
body {
  color: #444349;
  font-family:'Muli',sans-serif;
  font-size:1.15rem;
}
a {
  text-decoration:none;
  color:#bd806e;
}
main{
  background:url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;  
}
/*Fejléc, bejelentkezõ kép*/

.fejlec{
  background:url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center/cover ;
  display:table;  /*megszûnik block elemnek lenni, nem tölti ki az ablakot, azért kell, hogy táblázatként kezelje, és így függölegesen is lehessen pozícionálni*/
  background-size:cover; /*körbevágás*/
  height:100vh; /*magasság, hogy kitöltse az ablakot magasságban*/
  width:100%;  /*hogy mégiscsak kitöltse a szélességet*/
}
.betethordozo{
  display:table-cell; /*az osztály a táblázat egy eleme*/
  vertical-align: middle; /*függölegesen középre*/
  text-align:center;
  font-size:1.25rem;
}
.betet{
  margin:0 auto;
  padding:1.625rem;
  color:hsla(0,0%,100%,.9);
  background:hsla(100,0%,0%,.5);
  padding-top:3rem;
  padding-bottom:3rem;
  font-family:'Libre Baskerville',serif;
}  
.udv{
  letter-spacing:.15rem;
}
.udv::after{ /*egy vonal közbe*/
  display:block; /*bekerülés*/
  content:"";  /*szöveg nélkül!*/
  background-color:#fff; /*vonal színe*/
  height:1px; /*magassága*/
  width:12.515625rem; /*szélessége*/
  margin:.5rem auto; /*margó*/
}
.nev {
  margin:2rem;
  font-family:'Great Vibes',cursive;
  font-size:3.15rem;
  color:#d2ba87;
}
.datum{
  letter-spacing:.15rem;
  vertical-align:middle; /*vízszintesen középre*/
}
.datum::before, .datum::after{ /*elötte, utána vonal*/
  display:inline-block; /*bekerülés*/
  content:"";  /*szöveg nélkül!*/
  background-color:#fff; /*vonal színe*/
  vertical-align:middle; /*vízszintesen középre*/
  height:1px; /*magassága*/
  width:1.5rem; /*szélessége*/
  margin:0.5rem;
}
@media (min-width: 768px) {
  .fejlec{
    background:url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover ;

  }
  .betet{
    width:50%
  } 
  .udv{
    text-transform: uppercase;
  }
  .nev{
    font-size:7rem;
  }
}

/*Fontos adatok*/

.helyek{
  width:100%;  /*hogy mégiscsak kitöltse a szélességet*/
  text-align:center;
  padding:1.5rem;
}
.helyek img{
  height:7.5rem;
  margin-bottom:1.5rem;
}
h2{
  font-family: 'Great Vibes', cursive;
  font-size:3rem;
  margin-bottom:1.5rem;
  text-align:center;

}
h3{
  font-family:'Libre Baskerville',serif;
  font-size:1.5rem;
  font-weight:700;
  margin-bottom:1.5rem;
  margin-top:1.5rem;
  text-align:center;
}
.kiskepek div{
  font-size:1.1rem;
}
.kiskepek::after{
  display:block; /*bekerülés*/
  content:"";  /*szöveg nélkül!*/
  background-color:#fff; /*vonal színe*/
  height:1px; /*magassága*/
  width:12.515625rem; /*szélessége*/
  margin:.5rem auto; /*margó*/
}
@media (min-width: 768px) {
  .kiskepek{
    display:inline-block;
    width:30%;
    padding:.5rem 1rem;
    margin:1.5rem auto;
  }
}
/*idõbeosztás*/

.program{
  background: hsla(100,0%,0%,.6);
  padding:1rem;
  color:#d2ba87;
  line-height: 1.5rem;
}
.program h2{
  text-align:center;
  margin:1.5rem;
}
.program div{
  margin-bottom:1rem;
}
@media (min-width: 768px) {
  .program-betet{
    margin-left:35%;
    margin-right:35%;  
  }
}
/*Ajándékok*/
.ajandek{
  margin:1.5rem;
  text-align:center;
  
}
.ajandek div{
  margin:1rem;
}
.ajandek img{
   height:7.5rem;
}
/*Kérdések*/
.kerdes{
  background: hsla(100,0%,0%,.6);
  padding:1.5rem;
  color:#d2ba87;
  line-height: 1.5rem;
  margin-bottom:2rem;
}
.kerdesp{
  font-weight: 700;
  margin-bottom: .5rem;
}
.valaszp{
  margin-bottom: 1.5rem;
}
@media (max-width: 768px){
  .kerdes-betet::after{
    display:block; /*bekerülés*/
    content:"";  /*szöveg nélkül!*/
    background-color:#d2ba87; /*vonal színe*/
    height:2px; /*magassága*/
    width:12.515625rem; /*szélessége*/
    margin:.5rem auto; /*margó*/
  }
}
@media (min-width: 768px){
  .kerdes-betet {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }
}
.kapcsolat{
  text-align:center;
  margin-bottom:1.5rem;
}
.kapcsolat p{
  margin-bottom:2rem;
}
fotter{
  height: 10vh;
  width: 100%;
  background-color: #606060;
  color: #fff;
  display: table;
  text-align: center;
  font-size: .875rem;
}
.fotter-hatter{
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}